body {
  margin: 0;
}

/* ================ Header ================ */
.main-header {
  background-image: linear-gradient(to bottom right, #d0e8ea, #9edadb);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.main-title,
.admin-title {
  color: #fff;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 2.5rem;
  font-weight: lighter;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.main-title {
  text-shadow: 0 0 10px #388ade;
}

.nav {
  list-style-type: none;
  text-transform: uppercase;
}

.nav-item {
  display: inline;
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem;
}

.nav-link,
.admin-nav-link {
  font-family: "Amatic SC", cursive;
  text-decoration: none;
}

.nav-link {
  color: #d0e8ea;
  text-shadow: 0 0 10px #388ade;
}

.nav-link:hover,
.admin-nav-link:hover {
  color: #fff;
}

.active {
  color: #fff !important;
}

/* ================ Login ================ */
.login {
  background-color: #d2a679;
}

/* ================ Admin ================ */
.admin-header {
  background-image: linear-gradient(to bottom right, #ffb3b3, #ff9898);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.admin-title {
  text-shadow: 0 0 10px #ff4d4d;
}

.admin-nav-link {
  color: #ffb3b3;
  text-shadow: 0 0 10px #ff4d4d;
}
